In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('DB.csv')
df.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'],axis=1,inplace=True)

In [14]:
import pymysql
import json
from sqlalchemy import text, create_engine

engine = create_engine('mysql+pymysql://bigdata:123@localhost:3306/chat') # 알아서 맞게 고치기
ob = {}
for i in df.index:
    if pd.isna(df.iloc[i,0]):
        pass
    else:
        l = df.iloc[i,0].split(',')
        for j in l:
            j = j.replace(' ','')
                        
            if j in ob:
                ob[j] += ',' + str(i+1)
                
            else:
                ob[j] = str(i+1)

# for i in ob.keys():
#     ob[i] = ob[i].split(',')

sql = """
insert into object(단어, idx)
values(
:객체명,
:jarray)
"""
for i,k in ob.items():
    객체명 = i
    jarray = k
    dt = {"객체명":객체명,"jarray":str(jarray)}
    engine.execute(text(sql),**dt)

In [15]:
ac = {}
for i in df.index:
    if pd.isna(df.iloc[i,1]):
        pass
    else:
        l = df.iloc[i,1].split(',')
        for j in l:
            j = j.replace(' ','')
                        
            if j in ac:
                ac[j] += ',' + str(i+1)
                
            else:
                ac[j] = str(i+1)
                
# for i in ac.keys():
#     ac[i] = ac[i].split(',')

    
sql = """
insert into action(단어, idx)
values(
:객체명,
:jarray)
"""
for i,k in ac.items():
    객체명 = i
    jarray = k
    dt = {"객체명":객체명,"jarray":str(jarray)}
    engine.execute(text(sql),**dt)

In [16]:
em = {}
for i in df.index:
    if pd.isna(df.iloc[i,1]):
        pass
    else:
        l = df.iloc[i,1].split(',')
        for j in l:
            j = j.replace(' ','')
                        
            if j in em:
                em[j] += ',' + str(i+1)
                
            else:
                em[j] = str(i+1)
                
# for i in em.keys():
#     em[i] = em[i].split(',')
    
sql = """
insert into emotion(단어, idx)
values(
:객체명,
:jarray)
"""
for i,k in em.items():
    객체명 = i
    jarray = k
    dt = {"객체명":객체명,"jarray":str(jarray)}
    engine.execute(text(sql),**dt)

# db.main url삽입

In [8]:
# sql = """
# insert into main(URL)
# values(
# :URL)
# """
# for i in df.index:
#     URL = df.iloc[i,3]
#     dt = {"URL":URL}
#     engine.execute(text(sql),**dt)

# db.main .img 삽입

In [17]:
sql = """
insert into main(URL)
values(
:URL)
"""
for i in df.index:
    URL = df.iloc[i,3]
    dt = {"URL":str(i+1) + '.jpg'}
    engine.execute(text(sql),**dt)

In [ ]:
a = pd.read_csv('DB.csv',header=None)
a.drop([0,1,2,4,5,6,7,8,9],axis=1,inplace=True)
a.drop(0,axis=0,inplace=True)
import urllib.request
dir = '../Img/'
n = 1
for i in range(len(a)):
    urllib.request.urlretrieve(a.iloc[i,0], dir + str(n)+'.jpg')
    n += 1